/* Style overall navbar */
.navbar {
  background-color: #333;
  overflow: hidden;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  position: fixed;
  top: 8px;
  width: 100%;
}

/* Style navbar links */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
/*  padding: 16px 18px; */
  text-decoration: none;
  font-size: 15px;
}

/* Style navbar links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style active navbar link */
.navbar a.active {
  background-color: black;
  color: white;
}

/* Style navbar links to right */
.navbar a.right {
  float: right;
}

/* Dedicated container for all page contents */
.pagecontainer {
  width: 65%;
  margin:auto;
  margin-top: 72px;
}

/* Custom footer for assignment detail */
.footer {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #333;
  padding: 5px;
}

/* Custom table for league roster*/
table {
  border: 3px solid black;
  text-align: left;
  background-color: black;
  width: 100%;
}

th {
  background-color: black;
  color: white;
}

td {
  background-color: white;
  padding: 8px;
}

.forms {
  font-size: 15px;
  font-weight: bold;
}

.warning {
  font-size: 12px;
  font-weight: bold;
  color: red;
}

img {
  width: 75%;
  height: auto;
}

li {
  margin: 10px 0;
}

h1 {
  color: #315894;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

/* Style overall body */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  overflow-y:scroll;
}
